<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <filter>
        <filter-name>AuthenticationAcademicFilter</filter-name>
        <filter-class>filter.AuthenticationAcademicFilter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthenticationAcademicFilter</filter-name>
        <url-pattern>/academic/listregister.jsp</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
        <dispatcher>ERROR</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthenticationAcademicFilter</filter-name>
        <url-pattern>/academic/listFPT.jsp</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
        <dispatcher>ERROR</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthenticationAcademicFilter</filter-name>
        <url-pattern>/academic/infostudent.jsp</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
        <dispatcher>ERROR</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthenticationAcademicFilter</filter-name>
        <url-pattern>/academic/inforegister.jsp</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
        <dispatcher>ERROR</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthenticationAcademicFilter</filter-name>
        <url-pattern>/academic/updatestudent.jsp</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
        <dispatcher>ERROR</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthenticationAcademicFilter</filter-name>
        <url-pattern>/academic/listTeacher.jsp</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
        <dispatcher>ERROR</dispatcher>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthenticationAcademicFilter</filter-name>
        <url-pattern>/academic/inforteacher.jsp</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
        <dispatcher>ERROR</dispatcher>
    </filter-mapping>
    <!--    <filter-mapping>
        <filter-name>AuthenticationAcademicFilter</filter-name>
        <url-pattern>/academic/ClassTimeTable.jsp</url-pattern>
        <dispatcher>REQUEST</dispatcher>
        <dispatcher>FORWARD</dispatcher>
        <dispatcher>INCLUDE</dispatcher>
        <dispatcher>ERROR</dispatcher>
    </filter-mapping>-->
    <servlet>
        <servlet-name>RegisterServlet</servlet-name>
        <servlet-class>servlet.student.RegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ChooseCampusServlet</servlet-name>
        <servlet-class>servlet.student.ChooseCampusServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AcademicLoginServlet</servlet-name>
        <servlet-class>servlet.academic.AcademicLoginServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewStudentServlet</servlet-name>
        <servlet-class>servlet.academic.ViewStudentRegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>AcceptStudentServlet</servlet-name>
        <servlet-class>servlet.academic.AcceptStudentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>RejectStudentServlet</servlet-name>
        <servlet-class>servlet.academic.RejectStudentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InformationStudentServlet</servlet-name>
        <servlet-class>servlet.academic.InformationStudentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowListStudentRegisterServlet</servlet-name>
        <servlet-class>servlet.academic.ShowListStudentRegisterServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowListStudentFPTServlet</servlet-name>
        <servlet-class>servlet.academic.ShowListStudentFPTServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateStudentServlet</servlet-name>
        <servlet-class>servlet.academic.UpdateStudentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveStudentServlet</servlet-name>
        <servlet-class>servlet.academic.SaveStudentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdatePassServlet</servlet-name>
        <servlet-class>servlet.academic.UpdatePassServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ReviewWebServlet</servlet-name>
        <servlet-class>servlet.academic.ReviewWebServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ClassTimeTableServlet</servlet-name>
        <servlet-class>servlet.academic.ClassTimeTableServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InformationClassServlet</servlet-name>
        <servlet-class>servlet.academic.InformationClassServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>MoveOutClassServlet</servlet-name>
        <servlet-class>servlet.academic.MoveOutClassServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InforTeacherServlet</servlet-name>
        <servlet-class>servlet.academic.InforTeacherServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InformationTeacherServlet</servlet-name>
        <servlet-class>servlet.academic.InformationTeacherServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateTeacherServlet</servlet-name>
        <servlet-class>servlet.academic.UpdateTeacherServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>SaveTeacherServlet</servlet-name>
        <servlet-class>servlet.academic.SaveTeacherServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowNewsServlet</servlet-name>
        <servlet-class>News.ShowNewsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertNewsServlet</servlet-name>
        <servlet-class>News.InsertNewsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InsertNewServlet</servlet-name>
        <servlet-class>News.InsertNewServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowContentServlet</servlet-name>
        <servlet-class>News.ShowContentServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateNewsServlet</servlet-name>
        <servlet-class>News.UpdateNewsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteNewsServlet</servlet-name>
        <servlet-class>News.DeleteNewsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InforNewsServlet</servlet-name>
        <servlet-class>News.InforNewsServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteServlet</servlet-name>
        <servlet-class>News.DeleteServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>InforAdminServlet</servlet-name>
        <servlet-class>servlet.academic.InforAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>UpdateAdminServlet</servlet-name>
        <servlet-class>servlet.academic.UpdateAdminServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowListComment</servlet-name>
        <servlet-class>Comment.ShowListComment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ShowComentServlet</servlet-name>
        <servlet-class>Comment.ShowComentServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>RegisterServlet</servlet-name>
        <url-pattern>/student/RegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ChooseCampusServlet</servlet-name>
        <url-pattern>/student/ChooseCampusServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AcademicLoginServlet</servlet-name>
        <url-pattern>/academic/AcademicLoginServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewStudentServlet</servlet-name>
        <url-pattern>/academic/ViewStudentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>AcceptStudentServlet</servlet-name>
        <url-pattern>/academic/AcceptStudentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>RejectStudentServlet</servlet-name>
        <url-pattern>/academic/RejectStudentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InformationStudentServlet</servlet-name>
        <url-pattern>/academic/InformationStudentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowListStudentRegisterServlet</servlet-name>
        <url-pattern>/academic/ShowListStudentRegisterServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowListStudentFPTServlet</servlet-name>
        <url-pattern>/academic/ShowListStudentFPTServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateStudentServlet</servlet-name>
        <url-pattern>/academic/UpdateStudentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveStudentServlet</servlet-name>
        <url-pattern>/academic/SaveStudentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdatePassServlet</servlet-name>
        <url-pattern>/academic/UpdatePassServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ReviewWebServlet</servlet-name>
        <url-pattern>/academic/ReviewWebServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ClassTimeTableServlet</servlet-name>
        <url-pattern>/academic/ClassTimeTableServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InformationClassServlet</servlet-name>
        <url-pattern>/academic/InformationClassServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>MoveOutClassServlet</servlet-name>
        <url-pattern>/academic/MoveOutClassServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InforTeacherServlet</servlet-name>
        <url-pattern>/academic/InforTeacherServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InformationTeacherServlet</servlet-name>
        <url-pattern>/academic/InformationTeacherServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateTeacherServlet</servlet-name>
        <url-pattern>/academic/UpdateTeacherServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>SaveTeacherServlet</servlet-name>
        <url-pattern>/academic/SaveTeacherServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowNewsServlet</servlet-name>
        <url-pattern>/ShowNewsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertNewsServlet</servlet-name>
        <url-pattern>/academic/InsertNewsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InsertNewServlet</servlet-name>
        <url-pattern>/academic/InsertNewServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowContentServlet</servlet-name>
        <url-pattern>/ShowContentServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateNewsServlet</servlet-name>
        <url-pattern>/academic/UpdateNewsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteNewsServlet</servlet-name>
        <url-pattern>/academic/DeleteNewsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InforNewsServlet</servlet-name>
        <url-pattern>/academic/InforNewsServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteServlet</servlet-name>
        <url-pattern>/academic/DeleteServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>InforAdminServlet</servlet-name>
        <url-pattern>/academic/InforAdminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>UpdateAdminServlet</servlet-name>
        <url-pattern>/academic/UpdateAdminServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowListComment</servlet-name>
        <url-pattern>/ShowListComment</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ShowComentServlet</servlet-name>
        <url-pattern>/student/ShowComentServlet</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>index.html</welcome-file>
    </welcome-file-list>
</web-app>
